<nav class="navbar navbar-custom navbar-fixed-top <%= 'not-main-page' unless current_page? root_path %>" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">
                <img class="logo" src="<%= asset_path('water-drop.png') %>">
                </i> <span class="light">Water</span> Crowdsourcing
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <% if current_page? root_path %>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#map">Map</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                <% else %>
                    <li class="dropdown" id="water-report-dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Water report</b> <span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="water-report-dropdown">
                            <li>
                                <a href="<%=  %>">Submit water report</a>
                            </li>
                            <li>
                                <a href="<%=  %>">View water report</a>
                            </li>
                        </ul>
                    </li>
                <% end %>

                <% if logged_in? %>
                    <li>
                        <a href="<%= edit_user_path(current_user) %>" class="edit-profile-btn">Edit Profile</a>
                    </li>
                    <li>
                        <a href="<%= logout_path %>" class="logout-btn" data-method="delete">Logout</a>
                    </li>
                <% else %>
                    <li class="dropdown" id="login-dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="login-dropdown">
                            <li>
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- Login via
                                    <div class="social-buttons">
                                        <a href="#" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a>
                                        <a href="#" class="btn btn-tw"><i class="fa fa-twitter"></i> Twitter</a>
                                    </div> -->
                                    <form class="form form-login" id="login-form" role="form" method="post" action="login" accept-charset="UTF-8">
                                        <div class="form-group login-email-form">
                                            <label class="sr-only" for="login-email">Email address</label>
                                            <input type="email" name="email" class="form-control" id="login-email" placeholder="Email address" required>
                                        </div>
                                        <div class="form-group login-password-form">
                                            <label class="sr-only" for="login-password">Password</label>
                                            <input type="password" name="password" class="form-control" id="login-password" placeholder="Password" required>
                                            <div class="help-block text-right"><a href="">Forget the password?</a></div>
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                            <input type="checkbox"> keep me logged-in
                                            </label>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            </li>
                        </ul>
                    </li>
                    
                    <li class="dropdown" id="signup-dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Sign Up</b> <span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="signup-dropdown">
                            <li>
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- register via
                                    <div class="social-buttons">
                                        <a href="#" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a>
                                        <a href="#" class="btn btn-tw"><i class="fa fa-twitter"></i> Twitter</a>
                                    </div> -->
                                    <form class="form" id="signup-form" role="form" method="post" action="signup" accept-charset="UTF-8">
                                            <div class="form-group signup-email-form">
                                                <label class="sr-only" for="signup-email">Email address</label>
                                                <input type="email" name="user[email]" class="form-control" id="signup-email" placeholder="Email address" required>
                                            </div>
                                            <div class="form-group signup-password-form">
                                                <label class="sr-only" for="signup-password">Password</label>
                                                <input type="password" name="user[password]" class="form-control" id="signup-password" placeholder="Password" required>
                                                <input type="password" name="user[password_confirmation]" class="form-control" id="signup-password_confirmation" placeholder="Confirm password" required>
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
                                            </div>
                                    </form>
                                </div>
                            </div>
                            </li>
                        </ul>
                    </li>

                <% end %>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<script type="text/javascript">

    $(document).ready(function () {
        $('.dropdown-toggle').dropdown();
    });
</script>