<div class="show container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6 content">
            <h2>Water Source Report</h2>
            <dl>
              <dt>Reporter Name: </dt>
              <dd><%= @water_source_report.reporter_name %></dd>
            </dl>
            <dl>
              <dt>Location: </dt>
              <dd><%= @water_source_report.location %></dd>
            </dl>
            <dl>
              <dt>Latitude: </dt>
              <dd><%= @water_source_report.lat %></dd>
            </dl>
            <dl>
              <dt>Longitude: </dt>
              <dd><%= @water_source_report.lng %></dd>
            </dl>
            <dl>
              <dt>Water Type: </dt>
              <dd><%= @water_source_report.water_type %></dd>
            </dl>
            <dl>
              <dt>Water Condition: </dt>
              <dd><%= @water_source_report.water_condition %></dd>
            </dl>

        </div>
    </div>
</div>