<div class="show container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6 content">
            <h2>Water Purity Report</h2>
            <dl>
              <dt>Reporter Name: </dt>
              <dd><%= @water_purity_report.reporter_name %></dd>
            </dl>
            <dl>
              <dt>Location: </dt>
              <dd><%= @water_purity_report.location %></dd>
            </dl>
            <dl>
              <dt>Latitude: </dt>
              <dd><%= @water_purity_report.lat %></dd>
            </dl>
            <dl>
              <dt>Longitude: </dt>
              <dd><%= @water_purity_report.lng %></dd>
            </dl>
            <dl>
              <dt>Water Condition: </dt>
              <dd><%= @water_purity_report.water_condition %></dd>
            </dl>
            <dl>
              <dt>Virus PPM: </dt>
              <dd><%= @water_purity_report.virus_ppm %></dd>
            </dl>
            <dl>
              <dt>Contaminant PPM: </dt>
              <dd><%= @water_purity_report.contaminant_ppm %></dd>
            </dl>
            <dl>
              <dt>Posted on </dt>
              <dd><%= @water_purity_report.created_at.to_date %></dd>
            </dl>

            <% if current_user.present? && current_user.account_type == 'manager' || current_user.account_type == 'admin' %>
              <%= link_to 'Delete', water_purity_reports_destroy_path(id: @water_purity_report.id),
                data: {:confirm => 'Are you sure?'}, method: 'delete', class: 'btn btn-danger' %>
            <% end %>

        </div>
    </div>
</div>